<%- include('partials/navbar'); -%>


    <section class="cards">
        <section class="card contact">
            <div class="icon">
                <i class="fas fa-users"></i>
            </div>
            <h3>Registerd Users</h3>
            <span>The Application Has Total <%= registeredUser %> Registered User.</span>
        </section>
        <section class="card shop">
            <div class="icon">
                <i class="fas fa-key"></i>
            </div>
            <h3>Total Secrets</h3>
            <span>The Application Has Total <%= registeredUser %> Secrets Uploaded.</span>
        </section>
        <section class="card about">
            <div class="icon">
                <i class="fas fa-user"></i>
            </div>
            <h3>Active Users</h3>
            <span>The Application Has Total <%= registeredUser %> Active Users.</span>
        </section>
    </section>
