<%- include('partials/navbar'); -%>

    <main class="home">
        <div class="center">
            <h1>Share Your Secrets Anonymously</h1>
            <hr style="margin: 20px 40px">
            <div class="notice">
                <ul>
                    <li>Greetings to all. Greetings from the secrets page. All of the secrets that users have posted on
                        this site are available here.</li> <br>
                    <li>Our top priority is the security of our users, therefore we here protect your password, email,
                        and other personal information. No one has access to these data, not even with admin approval.
                    </li><br>
                    <li>You can upload your secret anonymously and view all the secrets anonymously. No one is able to
                        determine who uploaded this.</li><br>
                    <li>To safeguard the database, you may only share one secret per user account, and no one may upload
                        more than one secret per user. The previous secret will be replaced with the new one if you do
                        this.</li><br>
                    <li>It is more convenient and simple to access the secrets using a desktop or laptop than a mobile
                        device.</li><br>
                    <li>You must first log in to our programme in order to access other users' secrets or to upload your
                        own secrets; if you don't already have an account, you can create one here.</li><br>
                    <li>Click the navbar on the left side of the page to <a href="/login">login or register</a> .
                    </li><br>
                    <li>Please provide your insightful comments on the application. to send, <a
                            href="mailto:@mrvoid1244@gmail.com" target="_blank">Click Here</a>.</li>
                </ul>
            </div>
        </div>
    </main>

    <section>
        <footer>
            <p>Copyright &copy; 2022 Piyush Shrivastava, All Rights Reserved.</p>
        </footer>
    </section>