<%- include('partials/navbar'); -%>

<section class="cards">
    <% usersWithSecrets.forEach(function (user) { %>
    <section class="card contact">
        <div class="icon">
            <img class="flexcardimgItem" src="img/hacker.png" alt="" />
        </div>
        <h3>Anonymous User</h3>
        <span> <%= user.secret.slice(0, 150) + "..." %>
            <a href="<%=user._id%>">Read More</a></span>
    </section>
    <% }) %>
</section>


<section>
    <footer>
        <p>Copyright &copy; 2022 Piyush Shrivastava, All Rights Reserved.</p>
    </footer>
</section>